body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.umumi {
  display: flex;
  gap: 20px;
}

.left-side {
  width: 26%;
  background-color: rgb(5, 5, 70);
  padding: 20px;
  height: 120vh;
  color: aliceblue;
}

.left-side h3,
.right-side h3 {
  border-bottom: 1px solid white;
  font-weight: bold;
  margin-top: 20px;
}

.left-side p,
.left-side li {
  font-size: 12px;
}

.right-side {
  flex-grow: 1;
  padding: 20px;
}

.right-side h1 {
  font-weight: bold;
  color: black;
}

.right-side h4 {
  font-weight: normal;
  color: blue;
}

.reference-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.ref-box {
  width: 45%;
}

input,
textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px 16px;
  margin-bottom: 20px;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}